
@mixin borderStyle{

  border: 5px solid black;
}
h1, footer {
  text-align: center;
  background-color: red;
  @include borderStyle();
}

#heading img{

  margin-right: 10px;
  margin-top: 10px;
  position: relative;
}

.dice-name{

  margin: 5px;
  text-align: center;
  font-size:xx-large;
  font-weight: bold;
  color:lightblue
}
body {
  background-image: url("../Images/Tabletop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.dice-container{

  display: flex;
  padding: 10px;
  margin: 5px;
  width: auto;
  height: auto;
  justify-content: center;
}

#score-info{
  width: 200px;
  height: 250px;
  margin-left:200px;
  background-color: white;
  @include borderStyle();
}

#score-tracking{

  position:relative;
  width: 150px;
  height: 250px;
  left: 1000px;
  bottom: 480px;
  background-color: white;
  @include borderStyle();
}

img{

  margin: 3px;
  @include borderStyle();
}
#button-container {

  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
}

button{

  margin: 3px;
}
